.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  border: 1px solid blue;
  margin: 0 auto;
  justify-content: center;
}
.container > div > img {
  height: 100%;
  width: 100%;
}

.container > .small {
  flex: 1 1 150px;
}

.container > .big {
  flex: 1 1 250px;
}
body {
  background-color: #eee;
}
